body {
	margin: 0;
	font-family: 'Gothic A1', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/*Container*/
.container {
	width: 100%;
	max-width: 990px;
	padding: 0 15px;
	margin: 0 auto;
}

/*Helper*/
.helper {
	height: 100vh;
}

/*Intro*/
.intro {
	position: relative;
	flex-direction: column;
    justify-content: center;
    width: 100%;
}

.intro__inner {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 60px;

}

.intro__logo {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.intro__img {
	width: 43px;
	height: 45px;
}

.intro__content {
	margin-left: 8px;
	line-height: 1.2;
	padding-top: 5px;
}

.intro__title {
	font-size: 20px;
	font-weight: 700;
	color: #292929;
	text-transform: uppercase;
	
}

.intro__text {
	font-style: italic;
	font-size: 11px;
	color: #9d9d9d;
	font-weight: 300;
}

.intro__info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-ms-align-items: center;
	align-items: center;
	
}

.intro__btn {
	margin-left: 28px;
}

/*Button*/
.btn {
	font-size: 12px;
	border: 0;
	color: #292929;
	background-color: #ffd200;
	text-decoration: none;
	padding: 12px 22px;
	text-transform: uppercase;
	font-weight: 700;
    height: 42px;

    transition: border .3s linear;
}

.btn:hover {
	text-decoration: underline;
	border: 2px solid #292929;
}

.btn--intro {
	border: 2px solid #292929;
	background-color: #fff;
	color: #292929;
	transition: background-color .2s linear;
}

.btn--intro:hover {
	color: #fff;
	background-color: #292929;
	text-decoration: none;
}

.btn--footer {
	border: 2px solid #fff;
	background-color: #292929;
	color: #fff;
	transition: background-color .2s linear;
}

.btn--footer:hover {
	color: #292929;
	background-color: #fff;
	text-decoration: none;
}

/*Nav*/
.nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	width: 100%;
	background-color: #ffcc00;
	position: absolute;
	top: 15%;
	left: 0%;
	z-index: 1;
	
	padding: 25px 0;
	justify-content: center;
}

.nav__link {
	padding: 0 41px;
	text-decoration: none;
	color: #000000;
}

.nav__link:hover {
	text-decoration: underline;
}

/*Header*/
.header {
	width: 100%;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/bg.png) center no-repeat ;
	height: 552px;
}

.header__title {
	padding-top: 168px;
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 40px;
}

.header__text {
	color: #f2f1f1;
	font-size: 14px;
}

.header__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-ms-align-items: center;
	align-items: center;
	padding-top: 62px;
}

.header__content p {
	padding: 0 28px;
	color: #f2f1f1;
}

/*Card*/
.card {
	width: 100%;
}

.card__col {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	justify-content: center;
}

.card__title {
	margin: 67px 0;
	text-transform: uppercase;
	font-weight: 700;
	color: #292929;
	font-size: 20px;
	text-align: center;
}

.card__item {
	min-height: 468px;
	width: 300px;
	
	border: 1px solid #f6f6f6;
}

.card__img {
	padding: 50px 30px 34px 34px;
}

.card__content {
	text-align: center;
}

.card__name {
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	color: #292929;
	text-transform: uppercase;
	
}

.card__name:hover {
	text-decoration: underline;
}

.card__text {
	line-height: 1.3;
	margin-top: 20px;
	font-size: 13px;
	color: #626262;
}

.card__cost {
	margin: 30px 0;
	color: #292929;
	font-weight: 700;
}

/*Goods*/
.goods {
	background-color: #f4f4f4;
	padding-top: 10px;
	padding-bottom: 80px;
	width: 100%;
}

.goods__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	justify-content: center;
}

.goods__content {
	max-width: 298px;
	border: 2px solid;
	border-color: #fff;
	text-align: center;
	transition: background-color .2s linear;
	margin-left: 20px;
	margin-bottom: 20px;
}

.goods__content:hover {
	background-color: #fff;
}

.goods__image {
	position: relative;
	
}

.goods__img {
	padding: 36px 0;
	position: relative;
	z-index: 2;
}

.goods__img-y {
	padding: inherit;

	position: absolute;
	right: 122px;
    top: 53px;
	z-index: 1;	
}

.goods__img-y--pig {
	right: 136px;
    top: 35px;
}

.goods__img-y--van {
	right: 125px;
    top: 40px;
}

.goods__title {
	font-size: 15px;
	color: #292929;
	font-weight: 700;
	margin-bottom: 20px;
}

.goods__text {
	font-size: 14px;
	color: #373737;
	font-weight: 300;
	margin-bottom: 35px;
	line-height: 1.3;
}

/*Things*/
.things {
	width: 100%;
}

.things__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	padding-bottom: 95px;
}

.things__content {
	text-align: center;
	min-width: 220px;
	min-height: 385px;
	border: 2px solid #f6f6f6;
	margin-right: 20px;
}

.things__content:last-child {
	margin-right: 0;
}

.things__image {
	position: relative;
}

.things__img {
	padding: 20px 10px;
}

.things__image:after {
	content: "АКЦИЯ";
	height: 25px;
	width: 68px;
	color: #fff;
	background-color: #ff1111;

	padding: 1.6px;
	
	
	position: absolute;
	top: 27px;
	left: 27px;
	z-index: 1;
}

.things__title {
	font-size: 14px;
	text-decoration: underline #c8c8c8;
	color: #292929;
	font-weight: 700;
}

.things__cost {
	padding: 25px 0;
}

.thing__cost-normal {
	display: inline-block;
	font-size: 12px;
	font-weight: 300;
	color: #c8c8c8;
	margin-left: 13px;

	position: relative;
}

.thing__cost-normal:after {
	content: "";
	height: 1px;
	width: 45px;
	background-color: #c8c8c8;

	position: absolute;
	top: 47%;
	left: 0;
	z-index: 1;
}

.things__cost-free {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	color: #ff1111;
}

.things__cost-free--no {
	color: #292929;
}

.btn--things {
	padding: 18px 65px;
}

/*Car*/
.car {
	width: 100%;
	background-color: #f4f4f4;
	padding: 1px;
	padding-bottom: 80px;
}

.car__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.car__content {
	border: 2px solid #fff;
	width: 300px;
	max-height: 295px;
	text-align: center;
	margin-right: 20px;
}

.car__img {
	margin-top: 40px;
}

.car__title {
	font-size: 14px;
	text-decoration: underline #c8c8c8;
	color: #292929;
	font-weight: 700;
	padding: 40px 0;	
	display: block;
}

/*Contacts*/
.contacts {
	background: url(../images/footer.png) center no-repeat;
	width: 100%;
	height: 521px;
}

.contacts__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
}

.contacts__pin {
	position: relative;
	z-index: 1;
	top: 225px;
    left: 225px;
}

.contacts__col--info {
	background-color: #fff;
	width: 382px;
	height: 384px;
	margin-top: 82px;
	padding: 0 60px;
}

.contacts__content {
	color: #373737;
}

.contacts__title {
	text-transform: uppercase;
	padding: 55px 0;
	font-weight: 700;
	font-size: 22px;
}

.contacts__num {
	font-weight: 700;
	line-height: 2;
	font-size: 14px;
}

.contacts__num-image {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.contacts__num-img {
	margin: 5px 6px;
}

.contacts__adress {
	margin: 35px 0;
}

.contacts__adress-image {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.contacts__adress-img{
	margin: 38px 6px;
}

.contacts__mail {
	text-decoration: underline #c9c9c9;
	cursor: pointer;
	font-weight: 600;
	padding-bottom: 20px;
}

.contacts__mail-image {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.contacts__mail-img {
	margin: 5px 6px;
}

/*Footer*/
.footer {
	height: 195px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
	background-color: #292929;
	padding: 50px;
}

.foooter__one {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;

	padding-bottom: 45px;
}

.foooter__two {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	justify-content: space-between;
}

.footer__logo {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.footer__img {
	width: 45px;
	height: 45px;
}

.footer__content {
	margin-left: 8px;
	line-height: 1.2;
	padding-top: 5px;
}

.footer__title {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}

.footer__text {
	font-style: italic;
	font-size: 12px;
	font-weight: 300;
	color: #fff;
}

.footer__info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-ms-align-items: center;
	align-items: center;
}

.footer__year {
	color: #fff;
	font-size: 12px;
}
